// 전역으로 사용하는 Style 선언
@import '../styles/_palette.scss';
// -------------------------------------------------------------------------------- RESET //
a,
input,
button,
textarea {
  all: unset;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input,
br,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: #444;
  line-height: 1.2;
  letter-spacing: -0.36px;
}
address {
  font-style: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  cursor: pointer;
}
img {
  border: none;
  vertical-align: middle;
}
ol,
ul,
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset {
  border: none;
}
legend {
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
  position: absolute;
  left: -999px;
}

// -------------------------------------------------------------------------------- RESET //
// -------------------------------------------------------------------------------- COMMON //
*::-webkit-scrollbar {
  width: 5.2px;
  height: 3px;
} /* 스크롤 바 */
*::-webkit-scrollbar-track {
  background-color: #fff;
} /* 스크롤 바 밑의 배경 */
*::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
} /* 실질적 스크롤 바 */
*::-webkit-scrollbar-thumb:hover {
  background: #404040;
} /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
*::-webkit-scrollbar-thumb:active {
  background: #808080;
} /* 실질적 스크롤 바를 클릭할 때 */
*::-webkit-scrollbar-button {
  display: none;
} /* 스크롤 바 상 하단 버튼 */

section {
  min-height: calc(100vh - 500px);
  overflow-y: scroll;
}

.container {
  margin: 70px auto 0;
  padding: 0;
  max-width: 350px;
}

.backF6 {
  background: #f6f6f6;
}

.nodata {
  text-align: center;
  color: #d2d2d8;
  font-size: 15px;
  margin-top: 185px;
  img {
    width: 52px;
    height: 52px;
    margin-bottom: 21px;
  }
}

.search_input {
  position: relative;
  width: max-content;

  input {
    height: 40px;
    padding-right: 40px;
  }

  button {
    height: 40px;
    width: 40px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;

    img {
      width: 16px;
      height: 16px;
    }
  }
}

.clearfix:after,
.clearfix2:after {
  content: '';
  display: block;
  clear: both;
}
.clearfix > * {
  float: left;
}
.clearfix2 > *:first-child {
  float: left;
}
.clearfix2 > *:nth-child(2) {
  float: right;
}

.none {
  display: none;
}

.mb_10px {
  margin-bottom: 10px;
}

.wd_49per {
  width: 49% !important;
}
.wd_48per {
  width: 48% !important;
}
.wd_47per {
  width: 47% !important;
}
.wd_100per {
  width: 100% !important;
}
.wd_110px {
  width: 110px !important;
}

.dis_ib {
  display: inline-block;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}
.abs_center {
  position: absolute;
  top: 50%;
  top: 45%;
  left: 50%;
  max-width: 90%;
  max-height: 60vh;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -45%);
}
.abs_top_center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.bottom_z {
  bottom: 0;
}
.left_z {
  left: 0;
}

$border_bottom_line_color: #dddfe8;
.dotted_line {
  border: none;
  border-bottom: $border_bottom_line_color 2px dotted;
}
.dashed_line {
  border: none;
  border-bottom: $border_bottom_line_color 2px dashed;
}
.solid_ine {
  border: none;
  border-bottom: $border_bottom_line_color 2px solid;
}

.arrow {
  transition: 0.2s;
  transform: rotate(180deg);

  &.open {
    transform: rotate(0deg);
  }
}

.cursor_p {
  cursor: pointer;
}

/*========================================================================
   InputText Component
========================================================================*/
.input_text_wrap {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100%;
  > div {
    display: flex;
    align-items: flex-end;
    width: 100%;

    .input_text {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;

      &.side {
        width: calc(100% - 120px);
        input[type='text'] {
          width: 100%;
          font-size: 16px;
        }
        & + button {
          width: 110px;
        }
      }
      &.side2 {
        width: calc(100% - 70px);
        & + button {
          width: 60px;
        }
      }
      .label {
        display: inline-block;
        margin-bottom: 7px;
        b {
          color: $required;
        }
      }
      .scale-wrap {
        display: flex;
        align-items: center;
        border: 1px solid $border;
        background: #fff;
        height: 44px;
        transition: 0.21s;
        &.focus {
          border: 1px solid $prime;
        }
        &.disabled {
          color: #c6c7cb;
          background: #f0f0f0;
        }
        input[type='text'],
        input[type='password'] {
          border: 0;
          padding: 0px 12px;
          // transition: 0.21s;
          font-size: 16px;
          transform: scale(0.875) translateX(-6%);
          outline: none;
          width: 100%;
          font-size: 16px;
          &::placeholder {
            color: #e4e4e4;
          }
        }
      }
    }
    button {
      margin-left: 10px;
      text-align: center;
    }
  }
  .error {
    display: inline-block;
    margin-top: 6px;
    color: $required;
  }
}

@media screen and (min-width: 1025px) {
  .input_text_wrap {
    > div {
      .input_text {
        .scale-wrap {
          input[type='text'] {
            font-size: 14px;
          }
        }
      }
    }
  }
}
