a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    margin: 0;
}

.header {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ebebeb;
    position: fixed;
    z-index: 1;
   
}

.nav {
    width: 85%;
    height: 38px;
    display: flex;
    justify-content: space-between;
    padding: 12px 6px;
    margin: 0 auto;
}

.mnav {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    margin: 0 auto;
}

.mainlogo {
    display: block;
    width: 100px;
    height: 17px;
    position: relative;
    color: black;
    text-decoration: none;
    top: 12px;
    background: url(./logo.svg) no-repeat;
}

.mobilemenuicon {
    display: block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background: url(./MobileMenu.png) 0 no-repeat;
    background-size: cover;
    margin-right: 10px;
}

.menunav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menunav li {
    display: inline-block;
    padding: 10px 30px;
   
}

.menunav li a {
    font-size: 15px;
    font-weight: 500;
    color: #333;  
}

/* --------------- navtop --------------- */

.navtop {
    width: 85%;
    margin: 0 auto;
    border-bottom: 1px solid #ebebeb;
}

.navtop ul {
    display: flex;
    padding: 0;
    justify-content: flex-end;
}

.navtop ul li {
    padding: 0 6px;
}

.navtop a {
    color: rgba(34,34,34,.8);
}
