@import '../src/style/paltte';
@import '../src/style/gnb';
@import './style/calendar';
@import './style/ModalContainer';

body {
  margin: 0 auto;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}


.box {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 20px 10px;
 
}

.text {
   font-size: 15px;
   cursor:  pointer;
}

.weekBox {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.weekBox > div.box:nth-child(1) {
  color: $color-red;
}

.weekBox > div.box:nth-child(7) {
  color: $color-blue;
}

.grayed {
  color: $color-greay;
  opacity: 0.5;
}

.selected {
  border-radius: 25px;
  color: $color-white;
  background-color: $color-selected ;
}
