body {
  margin: 0 auto;
}

.box {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 20px 10px;
 
}

.text {
   font-size: 15px;
   cursor:  pointer;
}

.weekBox {
  display: flex;
  
  justify-content: space-around;
  text-align: center;
}

.grayed {
  color: gray;
  opacity: 0.5;
}

.selected {
  border-radius: 25px;
  color: #fff;
  background-color: #9CCBF0 ;
}
