.ModalContainer {
    width: 100%;
    height: 110vh;
    background-color: tomato;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    .modal {
        width: 60%;
        height: 80vh;
        background-color: $color-white;
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
        z-index:100;
        border-radius: 15px;
        
    }
}

.cloes_btn {
    position: relative;
    display: block;
    border: none;
    background-color: $color-white;
    color: $color-black;
    margin: 20px;
    
}

.input_title{
    width: 50%;
}

.txet_box{
    position: relative;
    top: 30%;
    textarea{
        resize: none;
        width: 80%;
        height: 35vh;
        border-radius: 15px;
        padding: 20px;
        background-color: $color-note;
        font-size: 15px;
        line-height: 30px;
        border: none;
        text-align: center;
        box-shadow: 1px 2px 9px rgb(163 177 198 );
        outline: none;
        
    }
}